* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #333;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.splash-home {
  position: relative;
  text-align: center;
  color: white;
}

/* This makes it so that the background image on the homepage doesn't get in the way of text selection.*/
.image-splash-home {
  pointer-events: none;
  user-select: none;
}

.header-splash-home, .subheader-splash-home {
  color: black;
  position: absolute;
  transform: translate(-50%, -50%);
}

.header-splash-home {
  font-family: DejaVu Sans Mono, monospace;
  font-size: 50px;
  top: 50%;
  left: 50%;
}

.subheader-splash-home {
  font-size: 30px;
  top: 60%;
  left: 50%;
}

.basic-text {
  padding-left: 10%;
  font-size: large;
}